/adres.pdf
/alternative_cheetset.pdf
/data science cheetset.pdf
/deneme.docx
/deneme.pdf
/DevOps roadmap.jpg
/emsal 1.pdf
/extensions
/inclass_notebooks
/ornek.txt
/PyPDF2-1.26.0
/Python cheetset.pdf
/python handbook.pdf
/python-3.8.10-amd64.exe
/Python-workshop-1-student.ipynb
/Python_Beginner_CheatSheet.pdf
/Python_Comprehensive_Cheatsheet_1633764369.pdf
/takbis.pdf
/takbis2.pdf
/workshop_2_python_student_version.ipynb
/workshop_2_python_teacher_version.ipynb
/ödev.ipynb
*pdf